
h1
{
    color:white;
    padding-left: 40px;
}
.header
{
    background: linear-gradient(90deg,#0168c8,#55c7fc);
    display: flex;
    justify-content: space-between;
}
.grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer
{
    display: flex;
    justify-content: flex-end;
}
p,h2
{
    text-align: center;
    color: #fff;
}
.grid .item img
{
    width:300px;
    height:300px;
}
.everything
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/background.jpg);
}